# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = classified_web_crawler.settings

[deploy]
url = http://52.117.39.90:9000/
project = classified_web_crawler


